target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Mac OS ###
.DS_Store
/src/main/resources/*.h5
/src/main/resources/HDF5Examples/*.h5
/src/main/resources/*.csv

*.exe
/*.h5
hdf5/*/*.h5
/bouml/
/src/main/resources/h5ex_t/*.h5
/src/main/resources/h5ex_t/att/*.h5
/src/main/resources/h5ex_tutr/*.h5
/src/main/resources/h5ex_tutr/att/*.h5
/src/main/resources/h5ex_d/*.h5
/src/main/resources/h5ex_d/*.data
/src/main/resources/h5ex_g/
