target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Mac OS ###
.DS_Store
/src/main/resources/*.h5
/src/main/resources/HDF5Examples/*.h5
/src/main/resources/*.csv

*.exe
/*.h5
hdf5/*/*.h5
/bouml/
/src/main/resources/h5ex_t/h5ex_t_array.h5
/src/main/resources/h5ex_t/h5ex_t_bit.h5
/src/main/resources/h5ex_t/h5ex_t_cmpd.h5
/src/main/resources/h5ex_t/h5ex_t_commit.h5
/src/main/resources/h5ex_t/h5ex_t_cpxcmpd.h5
/src/main/resources/h5ex_t/h5ex_t_enum.h5
/src/main/resources/h5ex_t/h5ex_t_float.h5
/src/main/resources/h5ex_t/h5ex_t_int.h5
/src/main/resources/h5ex_t/h5ex_t_objref.h5
/src/main/resources/h5ex_t/h5ex_t_opaque.h5
/src/main/resources/h5ex_t/h5ex_t_regref.h5
/src/main/resources/h5ex_t/h5ex_t_string.h5
/src/main/resources/h5ex_t/h5ex_t_vlen.h5
/src/main/resources/h5ex_t/h5ex_t_vlstring.h5
